/*Page setup*/

:root{
    --scroll: 0;
}

* {
 box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
}

/*Header*/

.header {
    color:#cc0000;
    font-family: sans-serif;
    display: block;
    text-align: center;
    font-style: italic;
}

/*Navbar*/

.top-navbar{
    --scroll-size: calc((var(--scroll) * 2em));

    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    margin: 0;
    background-color:#003bc4;
    color: #fff;
    font-family: sans-serif;
    padding: 0;
    align-items: center;
    column-gap: 1%;
}
.navbar-header{
    font-size: clamp(2em, calc(4em - var(--scroll-size)), 4em);
    margin: 0;
}
.navbar-image{
    height: clamp(3em, calc(5em - var(--scroll-size)), 5em);
}

/*Content*/

.text-content{
    max-width: 70%;
    margin: auto;
}

/*Image scroller*/

.slideshow{
    max-width: 70%;
    max-height: 70%;
    position: relative;
    margin: auto;
}

.slide{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Footer*/

.footer {
    text-align: center;
    bottom: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #d6d6d6;
    padding: 1em 4em;
    margin-top: 2em;
}
.footer a{
    font-size: 1em;
}
