* {
 box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
    height:100%;
}
.header {
    color:#cc0000;
    font-family: sans-serif;
    display: block;
    text-align: center;
    font-style: italic;
}
.top-navbar{
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    margin: 0;
    background-color:#003bc4;
    color: #fff;
    font-family: sans-serif;
    padding: 0;
    align-items: center;
    column-gap: 1%;
}
.navbar-header{
    font-size: 4em;
    margin: 0;
    transition: all 1s;
}
.navbar-image{
    height: 5em;
    transition: all 1s;
}
.top-navbar.small .navbar-image{
    height: 3em;
}
.top-navbar.small .navbar-header{
    font-size: 2em;
}
.footer {
    text-align: center;
    bottom: 0px;
}
.text-content{
    max-width: 70%;
    margin: auto;
}
